<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653907647305-iqthhin2hd67s73jeg9s1ou03s9qr4j4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653907647305-iqthhin2hd67s73jeg9s1ou03s9qr4j4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653907647305-f3mkesrn5u8eld3rk3f9di8s31c05alh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArNQSWnp6z3PgXAJk6mQwm3qcIJ7BOC5M</string>
	<key>GCM_SENDER_ID</key>
	<string>653907647305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nils23.Eventa</string>
	<key>PROJECT_ID</key>
	<string>eventa-211fb</string>
	<key>STORAGE_BUCKET</key>
	<string>eventa-211fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653907647305:ios:833fd39886db7f169d1898</string>
</dict>
</plist>